@import url(header.css);

#username, #password, #confirm_password{
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px; /* Borda arredondada */
    width: 200px;
    height: 25px;
    margin-top: 10px;
}

.body_section_escolha1_select1{
    margin: 10px;
    text-align: center;
    width: 177px;
    height: 32px;
}

/* cadastro */
.form_cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.button-group .back-button,
.form_cadastro .button_register {
    width: 100px;
    height: 40px;
    background-color: var(--cor-buttons); /* Cor de fundo profissional */
    color: var(--cor-branco); /* Cor do texto */
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px; /* Borda arredondada */
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Animação ao passar o mouse */
    box-shadow: 0 1px 8px var(--cor-cinza); /* Sombra para profundidade */
    display: flex; /* Define como flex container */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
}

.button-group .back-button:hover,
.form_cadastro .button_register:hover {
    background-color: var(--cor-azul-3); /* Alteração de cor no hover */
    transform: scale(1.05); /* Pequeno efeito de aumento no hover */
}

.button-group .back-button:active,
.form_cadastro .button_register:active {
    transform: scale(0.95); /* Efeito de clique */
    background-color: var(--cor-azul-4); /* Cor ao pressionar */
}