@import url(header.css);

/* dashboard */

.body_section_1_login{
    margin: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#ContainerTasksButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 50px;
    border: 2px solid var(--cor-azul-3);
}

#dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.button_reload_task {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.section_task {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--cor-azul);
    flex-wrap: wrap;
    padding: 15px;
    width: 550px;
    height: 300px;
}