@import url(header.css);

/* dashboard adm */

.body_section_welcome{
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

/* caixa de botões */
#ContainerTasksButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    gap: 15px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Distância dos botões para outros elementos */
}

#dataContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
