@import url(header.css);

/* Index */
.body_section_1_login{
    margin: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.body_section_2_send {
    margin: 22px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    flex-wrap: nowrap;
}

.body_section_2_send .button_register,
.body_section_2_send .button_send {
    width: 100px;
    height: 40px;
    background-color: var(--cor-buttons); /* Cor de fundo profissional */
    color: var(--cor-branco); /* Cor do texto */
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px; /* Borda arredondada */
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Animação ao passar o mouse */
    box-shadow: 0 1px 8px var(--cor-cinza); /* Sombra para profundidade */
    display: flex; /* Define como flex container */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
}

.body_section_2_send .button_register:hover,
.body_section_2_send .button_send:hover {
    background-color: var(--cor-azul-3); /* Alteração de cor no hover */
    transform: scale(1.05); /* Pequeno efeito de aumento no hover */
}

.body_section_2_send .button_register:active,
.body_section_2_send .button_send:active {
    transform: scale(0.95); /* Efeito de clique */
    background-color: var(--cor-azul-4); /* Cor ao pressionar */
}

.input_login{
    font-weight: bold;
    font-size-adjust: 1;
    text-align: center;
    border: none;
    border-radius: 9px;
    width: 230px;
    height: 40px;
    margin-top: 10px;
}
