@import url(header.css);

.button-group .logout-button:hover,
.button-group .back-button:hover {
    background-color: var(--cor-azul-3); /* Alteração de cor no hover */
    transform: scale(1.05); /* Pequeno efeito de aumento no hover */
}

.button-group .logout-button:active,
.button-group .back-button:active {
    transform: scale(0.95); /* Efeito de clique */
    background-color: var(--cor-azul-4); /* Cor ao pressionar */
}

.task-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* cores da tabela */
.task-table th {
    /* cabeçaljo */
    background-color: var(--cinza-5);
}
.task-table tr:nth-child(even) {
    /* linha impar */
    background-color: var(--cinza-4);
}
.task-table tr:nth-child(odd) {
    /* linha par */
    background-color: var(--cinza-3);
}
.task-table tr:hover {
    /* linha em seleção */
    background-color: var(--cinza-2);
}
.task-table th, .task-table td {
    /* grade tabela */
    border: 1px solid var(--cinza-5);
    padding: 10px;
    text-align: center;
}

.emoji-cell {
    font-size: 25px; /* Ajuste o tamanho dos emojis conforme necessário */
}

.emoji-cell-img {
    width: 25px; /* Largura da imagem */
    height: 25px; /* Altura da imagem */
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    fill: var(--cor-azul-3);
}

.action-buttons {
    display: flex; /* Deixa os botões lado a lado */
    gap: 15px; /* Espaçamento entre os botões */
}

.action-buttons button {
    border: none;
    padding: 6px; /* Reduz o tamanho do botão */
    font-size: 20px; /* Reduz o tamanho do texto (ou emojis) */
    width: 37px; /* Define uma largura específica */
    height: 37px; /* Define uma altura específica */
    background: transparent; /* Fundo transparente */
    cursor: pointer; /* Mostra o cursor de clique */
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.action-buttons button:hover {
    background-color: var(--cor-buttons);
}